.trailer-video {
	z-index: 100;
	position: absolute;
	top: 0;
	left: 0;

	z-index: 100;
	width: 100%;
	height: 69%;

	background-color: var(--color-dark-bg);

	&-video {
		width: 100%;
		height: 200px;
	}

	&-text {
		margin-top: 90px;
	}
}

.card-container {
	position: relative;
	width: 300px;
	height: max-content;

	min-height: 300px;
	min-width: 260px;

	display: flex;
	flex-direction: column;

	background-size: cover;
	background-position: center;

	margin: 7px;
	border-radius: 10px;

	&-heart {
		z-index: 200;
		position: absolute;
		top: 15px;
		left: 15px;

		width: 20px;
		height: 20px;

		background-color: var(--color-light-main);
		mask: url("../../../../assets//svg/heart-solid.svg") no-repeat center;

		cursor: pointer;
	}

	&-hearted {
		background-color: var(--color-main);
	}

	&-add {
		z-index: 250;
		position: absolute;
		bottom: 20px;
		right: 15px;
		width: 20px;
		fill: var(--color-white);
		cursor: pointer;
		transition: 0.5s ease-in;
	}
}

.info-card {
	z-index: 200;
	width: 100%;
	height: max-content;

	padding: 15px;
	margin-top: auto;

	// backdrop-filter: blur(20px);
	background-color: var(--color-bg);

	display: flex;
	flex-direction: column;
	align-items: start;

	text-align: left;
	border-radius: 0 0 10px 10px;

	&-title {
		font-size: 18px;
		font-weight: bold;
		margin-bottom: 3px;
	}

	&-price {
		font-weight: bold;
		font-size: 14px;
	}

	&-consoles {
		display: flex;
		margin-bottom: 10px;
		align-items: center;

		&-icon {
			height: 15px;
		}

		&-icon:not(:last-child) {
			margin-right: 5px;
		}

		&-bottom-section {
			display: flex;
			justify-content: space-between;
		}
	}

	// & {
	// 	margin-right: 5px;
	// }
}
